@use "@/styles/helpers/mixins" as *;

.content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 400px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  padding-top: 60px;
  margin-bottom: 20px;
}

//.image__container {
//  width: 80%;
//  position: relative;
//}
//
//.image {
//  position: absolute;
//  top: -18%;
//  height: 100%;
//  width: auto;
//  object-fit: contain;
//  border-bottom: 2px solid var(--primary);
//}

.image__container {
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-bottom: 2px solid var(--primary);
}

.dots {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 50%;
  z-index: 4;
  @include bounce($up: 40%, $down: -20%, $duration: 8s)
}