@use "../../../styles/helpers/mixins" as *;

.content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 400px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin-bottom: 20px;
}

.image__container {
  width: 80%;
  position: relative;
}

.image {
  position: absolute;
  top: -18%;
  height: 122%;
  width: auto;
  border-bottom: 2px solid var(--primary);
}

.dots {
  top: 36%;
  width: 12vmin;
  left: 50%;
  z-index: 4;
  position: absolute;
  @include bounce($up: 40%, $down: -20%, $duration: 8s)
}