.contacts {
}

.content {
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}


.title {
  font-weight: bold;
  color: var(--main-color-text);
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: end;
  border: 1px solid var(--main-color);
  padding: 16px;
  gap: 8px;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;


  &:hover,
  &:active {
    fill: var(--main-color-text);
    color: var(--main-color-text);
    cursor: pointer;
  }
}